
= @user.name + "さん"
.mypage-icon__image
  - if @user.icon.attached? # アタッチされた画像が存在する場合
    = image_tag @user.icon, class: 'icon', height:200, width:200
  - else  # アタッチされた画像がない場合デフォルト画像を表示
    = image_tag "material/icon/icon.jpg", class: "icon", height:200, width:200
  = form_with model: @user, local:true do |f|
    = f.label :icon do
      = icon('fas', 'image')
      = f.file_field :icon, style: "display: none;", class: 'icon_file_field'
    = f.submit 'Send', class: 'icon-btn', disabled: true
